<h1> Hello! I am Clara! </h1>
<h2> I am currently a 3rd yr CS major from Minnesota (but now residing in San Jose). <br>
	Fun Fact: I love purple sweet potatoes! </h2>
<h4> I'm super excited to learn da ruby on da rail wooooo~ </h4>